<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        &#128478{% block title %}News API{% if searchText %} search: "{{ searchText }}" page {{ page }}{% endif %}{% endblock %}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div id="container">

    <div id="top">
        <div id="headerText">News API</div>
        <div id="searchFormContainer">
            <form id="searchForm" action="/" method="get">
                <input required id="searchInput" type="text" name="search" placeholder="Search"
                        {% if searchText %} value="{{ searchText }}"{% endif %}>
                <input type="hidden" name="page" value="1">
                <button class="submitButton">Search</button>
            </form>
        </div>
    </div>

    <div id="content">
        {% block content %}
            {% if searchText %}
                {% if errorMessage %}
                    <pre>{{ errorMessage }}</pre>
                {% else %}
                    <div class="articleProperties">Page {{ page }}
                        of {{ (articles.getTotalResults/pageSize)|round(0, 'ceil') }}.
                        Found {{ articles.getTotalResults }} articles
                    </div>
                    {% for article in articles.getArticles %}
                        <div class="article">
                            <div><a href="{{ article.getUrl }}">{{ article.getTitle }}</a></div>
                            <div class="articleProperties">Posted
                                {% if article.getSource %} on {{ article.getSource }} {% endif %}
                                {% if article.getAuthor %} by {{ article.getAuthor }} {% endif %}
                                {% if article.getPublishedAt %} at {{ article.getPublishedAt }} {% endif %}
                            </div>
                            <div class="descriptionRow">
                                <div class="descriptionColumn">{{ article.getDescription }}</div>
                                {% if article.getUrlToImage %}
                                    <div class="imageColumn">
                                        <img class="articleImage" src='{{ article.getUrlToImage }}' alt=''>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>

    <div id="end">
        {% block footer %}
            {% if articles.getTotalResults > pageSize %}
                <div id="pageFormContainer">
                    <form id="pageForm" action="/" method="get">
                        <input type="hidden" name="search" value="{{ searchText }}">
                        <label for="pageInput">Page: </label>
                        <input required id="pageInput" type="text" name="page"
                               placeholder="{{ page }} of {{ (articles.getTotalResults/pageSize)|round(0, 'ceil') }}">
                        <button class="submitButton">Go</button>
                    </form>
                </div>
            {% endif %}
        {% endblock %}
    </div>

</div>
</body>
</html>