{% extends 'base.twig' %}

{% block title %}| Account{% endblock %}

{% block content %}
    {% if errors.database %}
        <div class="userInputError">ERROR: {{ errors.database }}</div>
    {% endif %}
    <div class="userInputFormContainer">
        <div class="pageTitle">Edit Account</div>
        <form class="userInputForm" action="/update" method="post">
            <label class="userInputBoxLabel">Username:<br>
                <input class="userInputBox" name="name" value="{{ auth.name }}">
            </label><br>
            <label class="userInputBoxLabel">E-mail:<br>
                <input class="userInputBox" name="email" value="{{ auth.email }}">
            </label><br>
            <label class="userInputBoxLabel">Enter password to confirm:<br>
                <input required class="userInputBox password" name="password" type="password">
            </label><br>
            <div class="registerButtonContainer">
                <button class="submitButton">Save</button>
            </div>
        </form>
        {% if errors.name %}
            <div class="userInputError">ERROR: {{ errors.name }}</div>
        {% endif %}
        {% if errors.email %}
            <div class="userInputError">ERROR: {{ errors.email }}</div>
        {% endif %}
        {% if errors.passwordMatchingEdit %}
            <div class="userInputError">ERROR: {{ errors.passwordMatchingEdit }}</div>
        {% endif %}
    </div>

    <div class="userInputFormContainer">
        <div class="pageTitle">Change Password</div>
        <form class="userInputForm" action="/update-password" method="post">
            <label class="userInputBoxLabel">Current password:<br>
                <input required class="userInputBox password" name="passwordCurrent" type="password">
            </label><br>
            <label class="userInputBoxLabel">New password:<br>
                <input required class="userInputBox password" name="passwordNew" type="password">
            </label><br>
            <label class="userInputBoxLabel">Repeat new password:<br>
                <input required class="userInputBox password" name="passwordNewRepeated" type="password">
            </label><br>
            <div class="registerButtonContainer">
                <button class="submitButton">Save</button>
            </div>
        </form>
        {% if errors.passwordMatchingPassword %}
            <div class="userInputError">ERROR: {{ errors.passwordMatchingPassword }}</div>
        {% endif %}
        {% if errors.password %}
            <div class="userInputError">ERROR: {{ errors.password }}</div>
        {% endif %}
        {% if errors.passwordRepeated %}
            <div class="userInputError">ERROR: {{ errors.passwordRepeated }}</div>
        {% endif %}
    </div>

    <div class="userInputFormContainer">
        <div class="pageTitle">Delete Account</div>
        <form class="userInputForm" action="/delete" method="post">
            <label class="userInputBoxLabel">Enter password to confirm:<br>
                <input required class="userInputBox password" name="passwordForDeletion" type="password">
            </label><br>
            <div class="registerButtonContainer">
                <button class="submitButton dangerButton">Delete Account</button>
            </div>
        </form>
        {% if errors.passwordMatchingDelete %}
            <div class="userInputError">ERROR: {{ errors.passwordMatchingDelete }}</div>
        {% endif %}
    </div>

{% endblock %}